.tag-cloud-tag {
    cursor: pointer;
    margin: 0px 3px;
    vertical-align: middle;
    display: inline-block;

    &.selected {
        font-size: 26px !important;
        text-decoration: wavy underline;
    }

    &.excluded {
        font-size: 26px !important;
        text-decoration: wavy line-through;
        color: #8B0000 !important;
    }

    &.related {
        color: #006400 !important;
    }
}
