body {
    padding: 15px;

    @media (max-width: 1200px) {
        & {
            padding: 10px;
        }
    }

    @media (max-width: 800px) {
        & {
            padding: 5px;
        }
    }
}

a {
    color: #0f5f9b;
}

h2 {
    margin: 10px 0;
}

hr {
    border: 0;
    border-top: 2px dotted #ccc;
    margin: 15px 0 5px;
}

footer {
    margin-top: 20px;
    padding: 5px;
    border-top: 1px solid #ccc;
    color: #666;
    font-size: x-small;
    text-align: center;
}

button.button { // Use class to distinguish real buttons from album photos
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: .5rem;
    color: #111827;
    padding: .5rem 1rem;
    text-align: center;
    font-weight: bolder;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    &:hover {
        background-color: rgb(249, 250, 251);
    }

    &:active {
        transform: scale(0.95);
    }
}
