.history {
    a {
        &:visited {
            color: #7a0f9b;
        }
    }

    .users {
        margin-bottom: 10px;
    }

    h1 {
        margin: 0 0 10px;
    }

    h2 {
        display: flex;
        margin: 0 0 5px;
        gap: 10px;
    }

    .profile {
        font-size: small;
    }

    .profileImage {
        max-width: 48px;
        max-height: 48px;
    }

    .date {
        font-weight: bold;
        margin-bottom: 3px;
    }

    .meta {
        color: #666;
        font-size: smaller;
    }

    .images {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;

        a {
            position: relative;
            display: flex;
            margin: 2px;
            border-width: 3px;
            border-style: solid;
            border-color: #ccc;

            img {
                height: 80px;
            }

            &.status0 {
                border-color: #faa;
            }
            &.status1 {
                border-color: #6bb;
            }
            &.status2 {
                border-color: #b66;
            }
            &.status3 {
                border-color: #afa;
            }
            &.status5 {
                border-color: #6a6;
            }
            &.status6 {
                border-color: #aaf;
            }
            &.status7 {
                border-color: #66a;

                img {
                    filter: blur(2px);
                }

                &::after {
                    content: "☓";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%); /* Centers the symbol */
                    font-size: 3em;
                    color: #fff8;
                    z-index: 1; /* Ensure it's above other content if needed */
                }
            }
        }
    }
}
