.react-photo-album {
    .react-photo-album--image {
        opacity: 0;
        transform: scale(0.9);
    
        &.lazyloaded {
            opacity: 1;
            transform: scale(1);
            transition: all 500ms;
        }
    }
}
