.react-photo-album {
    .react-photo-album--photo {
        .react-photo-album--image {
            opacity: 0;
            transform: scale(0.9);

            &.lazyloaded {
                opacity: 1;
                transform: scale(1);
                transition: all 500ms;
            }

            &.restricted {
                filter: url('#sharpBlur');
            }
        }

        .lock {
            position: absolute;
            width: 40%;
            height: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.3;
        }
    }
}

.download {
    margin-top: 25px;
    text-align: center;

    button {
        padding: .3rem .8rem;
        font-weight: normal;
        font-size: small;
    }
}