.yarl__slide {
    flex-direction: column;

    .slide_container {
        min-height: 0;
        position: relative;

        &:after {
            content: ' ';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 99;
        }

        &.restricted img {
            filter: url('#sharpBlur');
        }

        .lock {
            position: absolute;
            width: 40%;
            height: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.3;
            cursor: pointer;
        }
    }

    .image_description {
        color: white;
        margin-top: 7px;
        flex-shrink: 0;
        flex-basis: fit-content;

        a {
            color: #9bcef5;
        }

        @media (max-width: 800px) {
            & {
                font-size: small;
            }
        }
    }
}